= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {id: 'login_form',class: "md-float-material" }) do |f|
  = render 'layouts/logo_authentication'
  %h3.text-center.txt-primary
    Create an account
  - flash.each do |name, msg|
    = content_tag :div,  msg, id: "flash_#{name}", class: "alert alert-danger"
  .md-input-wrapper
    = f.email_field :email, autofocus: true, class: "md-form-control"
    %label Email
  .md-input-wrapper
    = f.password_field :password, autocomplete: "off", class: "md-form-control"
    %label Password
    -#- if @minimum_password_length
    -#  %em
    -#    (#{@minimum_password_length} characters minimum)
  .md-input-wrapper
    = f.password_field :password_confirmation, autocomplete: "off", class: "md-form-control"
    %label Confirm password

  .row.justify-content-center
    .col-10
      = f.submit "Log in", class: "btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
  .col-sm-12.text-center
    = render "devise/shared/links"