<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header">
            <h4>Room</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home" style="color: #DAA520;"></i></a></li>
                <li class="breadcrumb-item"><a href="#!" style="color: #DAA520;">Admin</a></li>
                <li class="breadcrumb-item"><a href="menu-static.html">Room</a></li>
            </ol>
        </div><!-- end of main-header -->
    </div><!-- end of col-sm-12 -->
</div><!-- end of row -->
<div class="row">
    <div class="col-xl-12">
        <div class="card">
            <div class="row"  style="margin-left: 10px; margin-right: 10px">
                <%@rooms.each do |room|%>
                    <%if room.room_type_id == 1 %>
                        <%@icon = 'icofont icofont-bed'%> 
                        <%@iconcolor = '#808080'%>
                    <% else %>
                        <%@iconcolor = '#FFDF00'%>
                        <%@icon = 'icofont icofont-royal'%> 
                    <% end %>
                    <%if room.status == 'available' %>
                        <%@backgroupcolor = '#228B22'%>
                    <% elsif room.status == 'occupied' %>
                        <%@backgroupcolor = '#FF8C00'%>
                    <% elsif room.status == 'problem' %>
                         <%@backgroupcolor = '#F90F0F'%>
                    <% elsif room.status == 'clean' %>
                        <%@backgroupcolor = '#3A6EFF'%>
                    <% end %>
                    <div class="col-xl-2 waves-effect waves-light " style="margin-top: 20px;">
                         <a >
                            <div class="card" style="background-color:<%=@backgroupcolor%>" id="room_<%=room.id%>" onclick="window.Views.Room.showroominfo(<%=room.id%>)">
                                <div class="card-block">
                                    <div class="side-box " style="background-color: white">
                                        <i class="<%=@icon%>" style="color: <%=@iconcolor%>"></i>
                                    </div>
                                    <div class="text-center">
                                        <i class="icofont icofont-home" style="color: white"></i>
                                        <h2 class="counter" style="color: white"><%=room.code%></h2>
                                        <span style="color: white" id="room_status_<%=room.id%>"><%=room.status%></span>
                                    </div><!-- end of text-center -->    
                                </div><!-- end of card-block -->    
                            </div><!-- end of card -->    
                        </a>
                    </div><!-- end of col -xl-2 -->
                <%end%>
                <div class="col-xl-12">
                <%= paginate @rooms, theme: 'twitter-bootstrap-3' %>
                </div>
            </div><!-- end of row-->
                
        </div> <!-- end of card -->
    </div><!-- end of col-xl-8 -->   
</div><!-- end of row -->

<div class="modal fade" id="room_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title" id="myModalLabelRoom">Room</h4>
            </div><!-- end of modal-header -->
            <div class="modal-body">
                <div class="loader animation-start" id="loader_show_room" style="display: none;">
                    <span class="circle delay-1 size-2"></span>
                    <span class="circle delay-2 size-4"></span>
                    <span class="circle delay-3 size-6"></span>
                    <span class="circle delay-4 size-7"></span>
                    <span class="circle delay-5 size-7"></span> 
                    <span class="circle delay-6 size-6"></span>
                    <span class="circle delay-7 size-4"></span>
                    <span class="circle delay-8 size-2"></span>
                </div><!-- end of loader animation-start -->
                <table class="table m-0" id="room_info_table">
                    <tbody>
                        <form >
                            <input type="hidden" id="room_info_id">
                        </form>
                        <tr>
                            <th scope="row">Code:</th>
                            <td style="border: none;" id="room_info_code"></td>
                            <td style="border: none;"><%=@room_id%></td>
                        </tr>
                        <tr>
                            <th scope="row">Room Type:</th>
                            <td style="border: none;" id="room_info_type"></td>
                        </tr>
                        <tr>
                            <th scope="row">Status:</th>
                            <td style="border: none;">
                                <a class="tabledit-delete-button btn waves-effect waves-light" style="background-color: #228B22; width: 100px" data-toggle="tooltip" onclick="window.Views.Room.updateRoomStatus('available')" title="Available" id="button_show_room_available"><span class="text-center" style="color: white">available</span></a>
                                <a class="tabledit-delete-button btn waves-effect waves-light" style="background-color: #FF8C00; width: 100px " data-toggle="tooltip" onclick="window.Views.Room.updateRoomStatus('occupied')" title="Not Available" id="button_show_room_notavailable"><span class="text-center" style="color: white">occupied</span></a>
                                <a class="tabledit-delete-button btn waves-effect waves-light" style="background-color: #3A6EFF; width: 100px; margin-top: 10px;" data-toggle="tooltip" onclick="window.Views.Room.updateRoomStatus('clean')" title="Clean" id="button_show_room_clean"><span class="text-center" style="color: white">clean</span></a>
                                <a class="tabledit-delete-button btn waves-effect waves-light" style="background-color: #F90F0F; width: 100px; margin-top: 10px; " data-toggle="tooltip" onclick="window.Views.Room.updateRoomStatus('problem')" title="Problem" id="button_show_room_problem" ><span class="text-center" style="color: white">problem</span></a>
                            </td>
                            <td style="border: none;">
                            <i>(Click to set room status)</i>
                            </td>
                        </tr>
                        <tr>
                            <th scope="row">Description:</th>
                            <td style="border: none;" id="room_info_desc"></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- end of modal-boday -->
            <div class="modal-footer">
                <a  id="view_room_booking_button" class="tabledit-delete-button btn waves-effect waves-light" style="background-color: #DAA520;" data-toggle="tooltip" onclick="window.Views.Room.bookingRoom()" title="Booking Room"><span style="color: white">BOOKING</span></a>
                 <a id="view_room_checkout_button" class="tabledit-delete-button btn waves-effect waves-light" style="background-color: #DAA520;" data-toggle="tooltip" onclick="" title="Checkout Room"><span style="color: white">Checkout</span></a>
                <button type="button" class="btn btn-secondary waves-effect waves-light " data-dismiss="modal">Close</button> 
            </div><!-- end of modal-footer -->
        </div><!-- end of modal-content -->
    </div><!-- end of modal-dialog -->
</div><!-- end of modal fade -->