= form_for(resource, as: resource_name, url: session_path(resource_name), html: {id: 'login_form',class: "md-float-material" }) do |f|
  = render 'layouts/logo_authentication'
  %h3.text-center.txt-primary
    Sign In to your account
  - flash.each do |name, msg|
    = content_tag :div,  msg, id: "flash_#{name}", class: "alert alert-danger"
  .md-input-wrapper
    = f.email_field :email, autofocus: true, class: "md-form-control"
    %label Email
  .md-input-wrapper
    = f.password_field :password, autocomplete: "off", class: "md-form-control"
    %label Password
  .row
    .col-sm-6
      .rkmd-checkbox.checkbox-rotate.checkbox-ripple.m-b-25
        %label.input-checkbox.checkbox-primary
          = f.check_box :remember_me, :checked => ""
          %span.checkbox
        .captions Remember Me
    .col-sm-6.forgot-phone.text-right
      %a.text-right.f-w-600{:href => "#{new_password_path(resource_name)}"} Forget Password?
  .row.justify-content-center
    .col-10
      = f.submit "Log in", class: "btn btn-primary btn-md btn-block waves-effect text-center m-b-20"
  .col-sm-12.text-center
    = render "devise/shared/links"