 <%= form_for :user, url: "user/update", remote: true, method: :post do |form| %>
            <%= form.hidden_field :id, value: current_user.id.to_s %>
        <div class="edit-info" style="display: none;" id="eidt_user_info">
            <div class="row">
                <div class="col-lg-12">
                    <div class="general-info">
                        <div class="row">
                            <div class="col-lg-6">
                                <table class="table b-none">
                                    <tbody>
                                        <tr>
                                            <td>
                                                <div class="md-group-add-on">
                                                    <span class="md-add-on"></span>
                                                    <div class="md-input-wrapper">
                                                        <p><i class="icofont icofont-ui-user" style="color:black;"></i>&nbsp;&nbsp; Full Name</p>  
                                                        <%= form.text_field :full_name, class: 'md-form-control', id: 'edit_user_info_name',style: "margin-left: 20px;", value: current_user.full_name.to_s %>
                                                        <span class="md-line"></span>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    <tr>
                                        <td>
                                            <div class="md-group-add-on">
                                                <span class="md-add-on">
                                                </span> 
                                                    <p style=""><i class="icofont icofont-group-students" style="color:black;"></i>&nbsp;&nbsp; Gender</p>
                                                <div class="radio radiofill radio-inline" style="margin-left: 20px; margin-top: 20px">
                                                    <% if current_user.gender == 1 %>
                                                        <%= form.radio_button :gender, '1', :checked => true, style: "opacity: 1;"%>
                                                        <%= label :gender, 'Male' %>
                                                        <%= form.radio_button :gender, '2', style: "opacity: 1;"%>
                                                        <%= label :gender, 'Female' %>
                                                    <% else%>
                                                        <%= form.radio_button :gender, '1', style: "opacity: 1;"%>
                                                        <%= label :gender, 'Male' %>
                                                        <%= form.radio_button :gender, '2', :checked => true, style: "opacity: 1;"%>
                                                        <%= label :gender, 'Female' %>
                                                    <%end%>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="md-group-add-on">
                                            <span class="md-add-on">
                                                </span>
                                                <div class="md-input-wrapper">
                                                    <p style="margin-bottom: 20px"><i class="icofont icofont-ui-calendar" style="color:black; "></i>&nbsp;&nbsp;Birthday Date</p>
                                                    <%=form.date_field :date_of_birth ,class: "form-control ",style: "margin-left: 20px;", id: 'edit_user_info_birth_date', value: current_user.date_of_birth.to_s %>  
                                                <span class="md-line"></span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="md-group-add-on">
                                                <span class="md-add-on">
                                                </span>
                                                <div class="md-input-wrapper">
                                                    <p><i class="icofont icofont-email" style="color:black;"></i>&nbsp;&nbsp; Email</p>
                                                    <%= form.text_field :email, disabled: true, class: 'md-form-control ', id: 'edit_user_info_email ', style: "margin-left: 20px;", value: current_user.email.to_s %>
                                                <span class="md-line"></span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="md-group-add-on">
                                                <span class="md-add-on">
                                                </span>
                                                <div class="md-input-wrapper">
                                                    <p><i class="icofont icofont-chair" style="color:black;"></i>&nbsp;&nbsp; Position</p>
                                                    <%= form.text_field :position, disabled: true, class: 'md-form-control ', id: 'edit_user_info_position ', style: "margin-left: 20px;", value: current_user.position.to_s %>
                                                <span class="md-line"></span></div>
                                            </div>
                                        </td>
                                    </tr>
                                  
                                    </tbody>
                                </table>
                            </div><!-- end of table col-lg-6 -->
                            <div class="col-lg-6">
                                <table class="table  b-none">
                                    <tbody>
                                    <tr>
                                        <td>
                                            <div class="md-group-add-on">
                                                <span class="md-add-on">
                                                </span>
                                                <div class="md-input-wrapper">
                                                    <p><i class="icofont icofont-mobile-phone" style="color:black;"></i>&nbsp;&nbsp;Mobile Number</p>
                                                    <%= form.text_field :phone, class: 'md-form-control', id: 'edit_user_info_phone', style: "margin-left: 20px;", value: current_user.phone.to_s %>
                                                <span class="md-line"></span></div>
                                            </div>
                                        </td>
                                    </tr>
                                      <tr>
                                        <td>
                                            <div class="md-group-add-on">
                                                <span class="md-add-on">
                                                </span>
                                                <div class="md-input-wrapper">
                                                    <p><i class="icofont icofont-location-pin" style="color:black;"></i>&nbsp;&nbsp;Location</p>
                                                    <%= form.text_field :address, class: 'md-form-control', id: 'edit_user_info_location', value: current_user.address.to_s ,style: "margin-left: 20px;"%>
                                                <span class="md-line"></span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="md-group-add-on">
                                                <span class="md-add-on">
                                                </span>
                                                <div class="md-input-wrapper">
                                                    <p><i class="icofont icofont-earth" style="color:black;"></i>&nbsp;&nbsp;Country</p>
                                                    <%= form.collection_select :country_id, @countries, :id, :country_name, {:selected  => current_user.country_id }, onchange:"window.Views.User.getProvince(this.value)", style: "margin-left: 20px;"%>
                                                <span class="md-line"></span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="md-group-add-on">
                                                <span class="md-add-on">
                                                </span>
                                                <div class="md-input-wrapper">
                                                    <p><i class="icofont icofont-location-arrow" style="color:black;"></i>&nbsp;&nbsp;Province</p>
                                                    <%= form.collection_select :province_id, @provinces, :id, :province_name, {:selected  => current_user.province_id }, style: "margin-left: 20px;"%>
                                                <span class="md-line"></span></div>
                                            </div>
                                        </td>
                                    </tr>
                                     <tr>
                                        <td>
                                            <div class="md-group-add-on">
                                                <span class="md-add-on">
                                                </span>
                                                <div class="md-input-wrapper">
                                                    <p><i class="icofont icofont-info" style="color:black;"></i>&nbsp;&nbsp; Description</p>
                                                    <%= form.text_area :description, class: 'md-form-control ', id: 'edit_user_info_desc ', style: "margin-left: 20px;", value: current_user.description.to_s %>
                                                <span class="md-line"></span></div>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- end of table col-lg-6 -->
                        </div><!-- end of row -->
                        <div class="text-center">
                            <%= form.submit "Save", data: { "disable-with": "Saving..." }, class:"btn btn-primary waves-effect waves-light m-r-20" %>
                            <a  id="edit-cancel" class="btn btn-secondary waves-effect" onclick="window.Views.User.updateUserInfo(0)" style="color: white;">Cancel</a>
                        </div>
                    </div><!-- end of edit info -->
                </div><!-- end of col-lg-12 -->
            </div><!-- end of row -->
        </div><!-- end of view-info -->
        <%end%>