<div class="row">
    <div class="col-xl-3 col-lg-4">
        <div class="card faq-left">
            <div class="user-block-2">
                <img class="img-fluid" src="../images/widget/user-1.png" alt="user-header">
                <h5 id="view_user_info_left_card_name"><%= current_user.full_name.to_s%></h5>
                <h6 id="view_user_info_left_card_position"><%= current_user.position.to_s%></h6>
            </div>
            <div class="card-block">
                <div class="user-block-2-activities">
                    <div class="user-block-2-active">
                        <i class="icofont icofont-mobile-phone"></i id="view_user_info_left_card_phone"><%= current_user.phone.to_s%>
                    </div>
                </div>
                <div class="user-block-2-activities">
                    <div class="user-block-2-active">
                        <i class="icofont icofont-email"></i><a href="" ><%= current_user.email.to_s%></a>
                    </div>
                </div>

                <div class="user-block-2-activities">
                    <div class="user-block-2-active">
                        <i class="icofont icofont-location-pin"></i id="view_user_info_left_card_address"> <%= current_user.address.to_s%>
                </div>

                </div>
                <div class="user-block-2-activities">
                    <div class="user-block-2-active">
                        <i class="icofont icofont-info"></i><i id="view_user_info_left_card_desc"><%= current_user.description.to_s%></i>
                    </div>

                </div>
                <div class="text-center">
                </div>
            </div>
        </div>
    </div>
    <!-- end of card-block -->
    <div class="col-xl-9 col-lg-8">
        <div class="card">
            <div class="card-header"><h5 class="card-header-text">About Me</h5>
                <button id="edit-btn" type="button" class="btn btn-primary waves-effect waves-light f-right" onclick="window.Views.User.updateUserInfo(1)" >
                    <i class="icofont icofont-edit"></i>
                </button>
            </div>
            <div class="card-block">
                <div class="view-info"  id="view_user_info">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="general-info">
                                <div class="row">
                                    <div class="col-lg-12 col-xl-6">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th scope="row">Full Name</th>
                                                <td id="view_user_info_name"><%= current_user.full_name.to_s%></td>
                                            </tr>
                                            <tr id="view_user_info_gender_tr">
                                                <th scope="row">Gender</th>
                                                <%if current_user.gender == 1%>
                                                    <td>Male</td>
                                                <%else%>
                                                    <td>Female</td>
                                                <%end%>
                                            </tr>
                                            <tr>
                                                <th scope="row">Birth Date</th>
                                                <td id="view_user_info_birth_date"><%= current_user.date_of_birth.to_s.to_date%></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Email</th>
                                                <td><a><%= current_user.email.to_s%></a></td>
                                            </tr>
                                            
                                            </tbody>
                                        </table>
                                    </div><!-- end of table col-lg-6 -->
                                    <div class="col-lg-12 col-xl-6">
                                        <table class="table">
                                            <tbody>
                                            <tr>
                                                <th scope="row">Phone</th>
                                                <td id="view_user_info_phone"><%= current_user.phone.to_s%></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Location</th>
                                                <td id="view_user_info_location"><%= current_user.address.to_s%></td>
                                            </tr>
                                            
                                            <tr>
                                                <th scope="row">Province</th>
                                                <td id="view_user_info_province"><%= @province[0].province_name.to_s%></td>
                                            </tr>
                                            <tr>
                                                <th scope="row">Country</th>
                                                <td id="view_user_info_country"><%= @country[0].country_name.to_s%></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div><!-- end of table col-lg-6 -->
                                </div><!-- end of row -->
                            </div><!-- end of general info -->
                        </div><!-- end of col-lg-12 -->
                    </div><!-- end of row -->
                </div><!-- end of view-info --> 
                <%= render 'edit_user_info'%>
            </div><!-- end of card-block -->
        </div>
    </div>
</div>