<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header">
            <h4>Profile</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home" style="color: #DAA520;"></i></a></li>
                <li class="breadcrumb-item"><a href="#!" style="color: #DAA520;">Admin</a></li>
                <li class="breadcrumb-item"><a href="menu-static.html">Profile</a></li>
            </ol>
        </div><!-- end of main-header -->
    </div><!-- end of col-sm-12 -->
</div><!-- end of row -->
<div class="row">
    <div class="col-xl-12">
        <%= render 'user_info'%>
    </div>
</div>