/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "../../../vendor/assets/css/icofont/icofont";
@import "../../../vendor/assets/css/simple-line-icons";
@import "../../../vendor/assets/css/bootstrap.min";
@import "../../../vendor/assets/plugins/waves/css/waves.min";
@import "../../../vendor/assets/plugins/notification/css/animate.min";
@import "../../../vendor/assets/plugins/notification/css/notification";
@import "../../../vendor/assets/plugins/search/css/component";
@import "../../../vendor/assets/css/generic-class";
@import "../../../vendor/assets/css/svg-weather";
@import "../../../vendor/assets/css/menu";
@import "../../../vendor/assets/css/main";
@import "../../../vendor/assets/css/responsive";
@import "../../../vendor/assets/css/color/color-1.min";
@import "../../../vendor/assets/css/jquery.steps";
.turbolinks-progress-bar {
  height: 5px;
  background-color: green;
}