
    <%@lOrder.each do |odr|%>
        <tr style="cursor: pointer;" onclick="window.Views.Order.viewInfoOrder(<%=odr.id%>)">
            <td class="text-center">
                <a style="font-weight: bold;"><%=odr.order_code%></a>
            </td>
            <td class="text-center">
                <%if @lRoomType.find(@lRoom.find(odr.room_id).room_type_id).id == 2 %>
                    <i class="icofont icofont-royal" style="color: #FFDF00"></i>
                    <span style="color: #FFDF00;font-weight: bold; "><%=@lRoomType.find(@lRoom.find(odr.room_id).room_type_id).type_name%></span>
                    
                <%else%>
                    <span style="color: #ccc;"><%=@lRoomType.find(@lRoom.find(odr.room_id).room_type_id).type_name%></span>  
                    
                <%end%>
            </td>
            <td class="text-center">
                <%=@lRoom.find(odr.room_id).code%>
            </td>
            <td class="text-center"><%=@lUser.find(odr.user_id).email%></td>
            <td class="text-center"><%=@lOrderDetail.find(odr.id).created_at.to_s[0,16]%></td>
            <td class="text-center"><%=@lOrderDetail.find(odr.id).updated_at.to_s[0,16]%></td>
        </tr>
    <%end%>
