<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header">
            <h4>List Booking Room</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#!">Admin</a></li>
                <li class="breadcrumb-item"><a href="menu-static.html">List Booking Room</a></li>
            </ol>
        </div><!-- end of main-header -->
    </div><!-- end of col-sm-12 -->
</div><!-- end of row -->   
<div class="row">
    <div class="col-xl-12 grid-item">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
                        <h5 class="card-header-text">List Booking Room</h5>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6">
                        <div id="simpletable_filter" class="dataTables_filter">
                            <%# <%=search_form_for @search do |f|%>
                                <label>
                                    Search:<input style="margin-left: 5px;" type="search" class="form-control input-sm" placeholder="" aria-controls="simpletable">
                                </label>
                            <%# <%end%>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-block">
                <div class="table-responsive">
                    <table class="table m-b-0 table-hover table-bordered">
                        
                            <tr class="text-capitalize" style="border-bottom: 2px solid #DAA520;">
                                <form>
                                    <input type="hidden", id="orderCode", value="0">
                                    <input type="hidden", id="roomType", value="0">
                                    <input type="hidden", id="roomCode", value="0">
                                    <input type="hidden", id="userId", value="0">
                                    <input type="hidden", id="created", value="0">
                                    <input type="hidden", id="updated", value="0">
                                </form>
                                <th id="titleOD" style="color: #DAA520" class="text-center"><a style="font-weight: bold;" onclick="window.Views.Order.sortOrderCode()">ORDER CODE</a></th>
                                <th id="titleRT" style="color: #DAA520" class="text-center"><a style="font-weight: bold;" onclick="window.Views.Order.sortRoomCode()">ROOM TYPE</a></th>
                                <th id="titleRC" style="color: #DAA520" class="text-center"><a style="font-weight: bold;" onclick="window.Views.Order.sortRoomCode()">ROOM CODE</a></th>
                                <th id="titleUI" style="color: #DAA520" class="text-center"><a style="font-weight: bold;" onclick="window.Views.Order.sortUserId()">CREATOR</a></th>
                                <th id="titleCA" style="color: #DAA520" class="text-center"><a style="font-weight: bold;" onclick="window.Views.Order.sortCreated()">CREATED AT</a></th>
                                <th id="titleUA" style="color: #DAA520" class="text-center"><a style="font-weight: bold;" onclick="window.Views.Order.sortUpdated()">UPDATED AT</a></th>
                            </tr>
                        
                        <tbody id="listDetail">
                            <div id="loading" class="loader-block" style="position: fixed; top:300px; left: 750px; display: none;">
                                <svg id="loader2" viewBox="0 0 100 100">
                                    <circle id="circle-loader2" cx="50" cy="50" r="45"></circle>
                                </svg>
                            </div>
                            <%= render 'item_list'%>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewInfoOrder" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">ORDER DETAIL</h4>
            </div>
            <%= form_for :editInfoOrder,url: :order_room_editInfoOrder ,method: :post, remote: true do |form|%>
                <div class="modal-body">
                    <div class="contact-mobi-front">
                        <i class="icofont icofont-navigation-menu contact-btn " style="display: none;"></i>
                        <div class="container">
                            <div class="md-float-material">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="md-group-add-on p-relative">
                                            <span class="md-add-on">
                                                <i class="icofont icofont-user"></i>
                                            </span>
                                            <div class="md-input-wrapper">
                                                <%=form.text_field :customer_name, class: "md-form-control md-valid", id: 'customer_name', required: true%>
                                                <label>CUSTOMER NAME</label>
                                                <span class="md-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="md-group-add-on p-relative">
                                            <span class="md-add-on">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <div class="md-input-wrapper">
                                                <%=form.text_field :start_date, class: "md-form-control md-valid", id: "check_in", disabled: true%>
                                                <label>CHECK IN</label>
                                                <span class="md-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="md-group-add-on p-relative">
                                            <span class="md-add-on">
                                                <i class="fa fa-credit-card"></i>
                                            </span>
                                            <div class="md-input-wrapper">
                                                <%=form.text_field :customer_ID, class: "md-form-control md-valid", id: "customer_ID", required: true%>
                                                <label>IDENTITY CARD</label>
                                                <span class="md-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="md-group-add-on p-relative">
                                            <span class="md-add-on">
                                                <i class="fa fa-calendar"></i>
                                            </span>
                                            <div class="md-input-wrapper">
                                                <%=form.text_field :end_date, class: "md-form-control md-valid", id: "check_out", disabled: true%>
                                                <label>CHECK OUT</label>
                                                <span class="md-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="md-group-add-on p-relative">
                                            <span class="md-add-on">
                                            <i class="fa fa-map-marker"></i>
                                            </span>
                                            <div class="md-input-wrapper">
                                                <%=form.text_field :customer_address, class: "md-form-control md-valid", id: "customer_address"%>
                                                <label>CUSTOMER ADDRESS</label>
                                                <span class="md-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="md-group-add-on p-relative">
                                            <span class="md-add-on">
                                                <i class="fa fa-columns"></i>
                                            </span>
                                            <div class="md-input-wrapper">
                                                <%=form.text_field :status, class: "md-form-control md-valid", id: "status", disabled: true%>
                                                <label>PAYMENT</label>
                                                <span class="md-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="md-group-add-on p-relative">
                                            <span class="md-add-on">
                                                <i class="fa fa-phone"></i>
                                            </span>
                                            <div class="md-input-wrapper">
                                                <%=form.text_field :customer_phone, class: "md-form-control md-valid", id: "customer_phone"%>
                                                <label>PHONE NUMBER</label>
                                                <span class="md-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-sm-6">
                                        <div class="md-group-add-on p-relative">
                                            <span class="md-add-on">
                                                <i class="fa fa-columns"></i>
                                            </span>
                                            <div class="md-input-wrapper">
                                                <%=form.text_field :total, class: "md-form-control md-valid", id: "total", disabled: true%>
                                                <label>TOTAL</label>
                                                <span class="md-line"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- </div> -->

                                    <!-- <div class="row"> -->
                                    <%=form.hidden_field :id, id: "order_id"%>
                                    <div class="contact-card-button">
                                        <%=form.submit "EDIT INFORMATION" ,data: {"disable-with": "Loading"} ,class: "btn btn-primary waves-effect waves-light", style: "float:right; margin-right: 15px;" %>
                                    </div>
                                    
                                </div>
                            </div>
                        </div>
                        <!-- end of contact-details-front-img -->
                    </div>
                </div>
            <%end%>
        </div>
    </div>
</div>
