<div class="row">
    <div class="col-sm-12 p-0">
        <div class="main-header">
            <h4 id="time">Booking</h4>
            <ol class="breadcrumb breadcrumb-title breadcrumb-arrow">
                <li class="breadcrumb-item"><a href="index.html"><i class="icofont icofont-home"></i></a></li>
                <li class="breadcrumb-item"><a href="#!">Admin</a></li>
                <li class="breadcrumb-item"><a href="menu-static.html">Booking</a></li>
            </ol>
        </div><!-- end of main-header -->
    </div><!-- end of col-sm-12 -->
</div><!-- end of row -->
<div class="row" style="min-height: 550px;">
    <div class="col-xl-12 grid-item">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-sm-12 col-md-12">
                        <h5 class="card-header-text">Booking Room</h5>
                    </div>
                </div>
            </div>
            <div class="card-header">
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <p style="font-size: 12px; color: #40c4ff;">Select Room Type</p>
                        <select name="select" class="form-control form-control-default" onchange = "window.Views.Order.selectRoom(this.value)">
                            <option value = "1">NORMAL</option>
                            <option value = "2">VIP</option>
                        </select>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <p style="font-size: 12px; color: #40c4ff;">Check In</p>
                        <input class="form-control" type="datetime-local" id="checkin" required>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-4">
                        <p style="font-size: 12px; color: #40c4ff;">Check Out</p>
                        <input class="form-control" type="datetime-local" id="checkout">
                    </div>
                </div>
            </div>
            <div class="row" style="margin-left: 10px; margin-right: 10px;" id="select-room" >
                <%@rEmpty.each do |room|%>
                    <div class="col-xl-2" style="margin-top: 20px;">
                         <a>
                            <div class="card" style="background-color:#808080" onclick="window.Views.Order.bookingRoom(<%=room.id%>)">
                                <div class="card-block">
                                    <div class="side-box " style="background-color: white">
                                        <i class="icofont icofont-bed" style="color: #808080"></i>
                                    </div>
                                    <div class="text-center">
                                        <i class="icofont icofont-home" style="color: white"></i>
                                        <h2 class="counter" style="color: white"><%=room.code%></h2>
                                        <span style="color: white"><%=room.status%></span>
                                    </div><!-- end of text-center -->    
                                </div><!-- end of card-block -->    
                            </div><!-- end of card -->    
                        </a>
                    </div>
                <%end%>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modal-flex" id="booking_room" tabindex="-1" role="dialog" style="margin-top: 100px;">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="text-align: center; font-weight: bold">
                <h4 class="modal-title">PERSONAL INFORMATION</h4>
            </div>
            <%= form_for :createOrder, url: :order_room_createOrder,html: {id: 'booking_form'} ,remote: true, method: :post do |form|%>
            <div class="modal-body">
                    <div class="card-block">
                        <div class="md-group-add-on">
                            <span class="md-add-on">
                                <i class="icon-user"></i>
                            </span>
                            <div class="md-input-wrapper">
                                <%=form.text_field :customer_name, class: "md-form-control date md-static", placeholder: "Customer Name", required: true, id: "customer_name"%>
                                <span class="md-line"></span>
                            </div>
                        </div>
                        <div class="md-group-add-on">
                            <span class="md-add-on">
                                <i class="icon-credit-card"></i>
                            </span>
                            <div class="md-input-wrapper">
                                <%=form.number_field :customer_ID, class: "md-form-control date md-static", placeholder: "Identity Card", id: "customer_ID", required: true%>
                                <span class="md-line"></span>
                            </div>
                        </div>
                        <div class="md-group-add-on">
                            <span class="md-add-on">
                                <i class="icon-location-pin"></i>
                            </span>
                            <div class="md-input-wrapper">
                                <%=form.text_field :customer_address, class: "md-form-control date md-static", placeholder: "Address", id: "customer_address"%>
                                <span class="md-line"></span>
                            </div>
                        </div>
                        <div class="md-group-add-on">
                            <span class="md-add-on">
                                <i class="icon-phone"></i>
                            </span>
                            <div class="md-input-wrapper">
                                <%=form.text_field :customer_phone, class: "md-form-control date md-static", placeholder: "Phone Number", id: "customer_phone"%>
                                <span class="md-line"></span>
                            </div>  
                        </div>
                        <%# Da Ta an %>
                        <%=form.hidden_field :user_id, :value => current_user.id%>
                        <%=form.hidden_field :order_id, :value => " "%>
                        <%=form.hidden_field :order_code, id:"order-code"%>
                        <%=form.hidden_field :room_id, id: "room_id"%>
                        <%=form.hidden_field :start_date, id: "start_date"%>
                        <%=form.hidden_field :end_date, id: "end_date"%>
                    </div>
                
            </div>
            
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Close</button>
                <%=form.submit "Book",data: {"disable-with": "BOOKING"}, class: "btn waves-effect waves-light", style: "float:right; background-color: #DAA520; color: white;", id: "submit"%>
            </div>
            <%end%>
        </div>
    </div>
</div>