
<section class="login" id="clock_screen" style="display: none; background-color: rgb(218, 165, 32,0.5);">
	<!-- Container-fluid starts -->
	<div class="container-fluid" >
		<div class="row">
			<div class="login-card card-block" style="background-color: white">
				<form class="md-float-material">
					<div class="text-center">
					<h1 class="text-center txt-primary"><b style="color: rgb(218, 165, 32);">Hotel Manager System</b></h1>
					</div>
					<h3 class="text-center txt-primary" ><span  style="color: rgb(218, 165, 32);">Your session is locked</span></h3>
					<div class="imgs-screen text-center" >
						<img src="../images/lockscreen.png" class="rounded-circle" alt="lock">
					</div>
					<div class="md-group">
						<div class="md-input-wrapper">
							<p><b>Password</b></p>
							<input type="password" class="md-form-control" id="unclock_screen_password">
						<span class="md-line"></span></div>
						<i  class="text-center" style="color: red;" id="error"></i>
					</div>
					<div class="unlock">
						<button type="button" class="btn  btn-md waves-effect waves-light text-center m-b-20"  style="background-color: rgb(218, 165, 32); color: white" onclick="window.Views.User.unclockscreen()" id="unclock_screen_button">UNLOCK
						</button>
					</div>
				</form>
				<!-- end of form -->
			</div>
			<!-- end of login-card -->
		</div>
		<!-- end of row -->
	</div>
</section>
		<!-- end of container-fluid -->

		<!-- Warning Section Starts -->
		<!-- Older IE warning message -->
		<!--[if lt IE 9]>
		<div class="ie-warning">
			<h1>Warning!!</h1>
			<p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
			<div class="iew-container">
				<ul class="iew-download">
					<li>
						<a href="http://www.google.com/chrome/">
							<img src="../files/images/browser/chrome.png" alt="Chrome">
							<div>Chrome</div>
						</a>
					</li>
					<li>
						<a href="https://www.mozilla.org/en-US/firefox/new/">
							<img src="../files/images/browser/firefox.png" alt="Firefox">
							<div>Firefox</div>
						</a>
					</li>
					<li>
						<a href="http://www.opera.com">
							<img src="../files/images/browser/opera.png" alt="Opera">
							<div>Opera</div>
						</a>
					</li>
					<li>
						<a href="https://www.apple.com/safari/">
							<img src="../files/images/browser/safari.png" alt="Safari">
							<div>Safari</div>
						</a>
					</li>
					<li>
						<a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
							<img src="../files/images/browser/ie.png" alt="">
							<div>IE (9 & above)</div>
						</a>
					</li>
				</ul>
			</div>
			<p>Sorry for the inconvenience!</p>
		</div>
		<![endif]-->
		<!-- Warning Section Ends -->

