.text-center
  %img{:src => "/logo-fpt.png", style: 'width: 43%; margin-bottom: -35px;'}/
%h3.text-center.txt-primary{style: 'font-weight: 600;color: #1568b2 !important;'}
  Employee Management System