<header class='main-header-top hidden-print' style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);">
  <a class='logo' href='/dashboard'>
    <strong style="font-size: 30px">HMS</strong>
  </a>
  <nav class='navbar navbar-static-top'>
    <!-- Sidebar toggle button -->
    <a class='sidebar-toggle' data-toggle='offcanvas' href='javascript:void(0)'></a>
    <!-- Navbar Right Menu -->
    <div class='navbar-custom-menu'>
      <ul class='top-nav'>
        <!-- Notification Menu -->
        <li class='dropdown pc-rheader-submenu message-notification search-toggle'>
          <a class='drop icon-circle txt-white' href='javascript:void(0)' id='morphsearch-search'>
            <i class='icofont icofont-search-alt-1'></i>
          </a>
        </li>
        <li class='dropdown notification-menu'>
          <a aria-expanded='false' class='dropdown-toggle' data-toggle='dropdown' href='javascript:void(0)'>
            <i class='icon-bell'></i>
            <span class='badge badge-danger header-badge'>9</span>
          </a>
          <ul class='dropdown-menu'>
            <li class='not-head'>
              You have
              <b class='text-primary'>4</b>
              new notifications.
            </li>
            <li class='bell-notification'>
              <a class='media' href='javascript:;'>
                <span class='mr-3 media-icon'>
                  <img alt='User Image' class='rounded-circle' src='/images/avatar-1.png'>
                </span>
                <div class='media-body'>
                  <span class='block'>Lisa sent you a mail</span>
                  <span class='text-muted block-time'>2min ago</span>
                </div>
              </a>
            </li>
            <li class='bell-notification'>
              <a class='media' href='javascript:;'>
                <span class='mr-3 media-icon'>
                  <img alt='User Image' class='rounded-circle' src='/images/avatar-2.png'>
                </span>
                <div class='media-body'>
                  <span class='block'>Server Not Working</span>
                  <span class='text-muted block-time'>20min ago</span>
                </div>
              </a>
            </li>
            <li class='bell-notification'>
              <a class='media' href='javascript:;'>
                <span class='mr-3 media-icon'>
                  <img alt='User Image' class='rounded-circle' src='/images/avatar-3.png'>
                </span>
                <div class='media-body'>
                  <span class='block'>Transaction xyz complete</span>
                  <span class='text-muted block-time'>3 hours ago</span>
                </div>
              </a>
            </li>
            <li class='not-footer'>
              <a href='javascript:void(0)'>See all notifications.</a>
            </li>
          </ul>
        </li>
        <!-- chat dropdown -->
        <li class='pc-rheader-submenu'>
          <a class='drop icon-circle displayChatbox' href='javascript:void(0)'>
            <i class='icon-bubbles'></i>
            <span class='badge badge-danger header-badge blink'>5</span>
          </a>
        </li>
        <!-- window screen -->
        <li class='pc-rheader-submenu'>
          <a class='drop icon-circle' href='javascript:void(0)' onclick='javascript:toggleFullScreen()'>
            <i class='icon-size-fullscreen'></i>
          </a>
        </li>
        <!-- User Menu -->
        <li class='dropdown'>
          <a aria-expanded='false' aria-haspopup='true' class='dropdown-toggle drop icon-circle drop-image' data-toggle='dropdown' href='javascript:void(0)' role='button'>
            <span>
              <img alt='User Image' class='rounded-circle' src='/images/avatar-1.png' style='width:40px;'>
            </span>
            <span>
              <%@name= current_user.full_name.to_s.split('@')%>
              <%= @name[@name.length-1]%>
              <b><%= @name[@name.length]%></b>
              <i class='icofont icofont-simple-down'></i>
            </span>
          </a>
          <ul class='dropdown-menu settings-menu'>
            <li>
              <a href='javascript:void(0)'>
                <i class='icon-settings'></i>
                Settings
              </a>
            </li>
            <li>
              <a href='/user'>
                <i class='icon-user'></i>
                Profile
              </a>
            </li>
            <li>
              <a href='message.html'>
                <i class='icon-envelope-open'></i>
                My Messages
              </a>
            </li>
            <li class='p-0'>
              <div class='dropdown-divider m-0'></div>
            </li>
            <li>
              <a onclick="window.Views.User.lockScreen()">
                <i class='icon-lock'></i>
                Lock Screen
              </a>
            </li>
            <li>
            </li>
          </ul>
        </li>
      </ul>
      <!-- search -->
      <div class='morphsearch' id='morphsearch'>
        <form class='morphsearch-form'>
          <input class='morphsearch-input' placeholder='Search...' type='search'>
          <button class='morphsearch-submit' type='submit'>Search</button>
        </form>
        <div class='morphsearch-content'>
          <div class='dummy-column'>
            <h2>People</h2>
            <a class='dummy-media-object' href='javascript:void(0)'>
              
            </a>
            <a class='dummy-media-object' href='javascript:void(0)'>
              
            </a>
          </div>
          <div class='dummy-column'>
            <h2>Popular</h2>
            <a class='dummy-media-object' href='javascript:void(0)'>
              <img alt='PagePreloadingEffect' src='/images/avatar-1.png'>
              <h3>Page Preloading Effect</h3>
            </a>
            <a class='dummy-media-object' href='javascript:void(0)'>
              <img alt='DraggableDualViewSlideshow' src='/images/avatar-1.png'>
              <h3>Draggable Dual-View Slideshow</h3>
            </a>
          </div>
          <div class='dummy-column'>
            <h2>Recent</h2>
            <a class='dummy-media-object' href='http://tympanus.net/codrops/2014/10/07/tooltip-styles-inspiration/'>
              <img alt='TooltipStylesInspiration' src='/images/avatar-1.png'>
              <h3>Tooltip Styles Inspiration</h3>
            </a>
            <a class='dummy-media-object' href='javascript:void(0)'>
              <img alt='NotificationStyles' src='/images/avatar-1.png'>
              <h3>Notification Styles Inspiration</h3>
            </a>
          </div>
        </div>
        <!-- /morphsearch-content -->
        <span class='morphsearch-close'>
          <i class='icofont icofont-search-alt-1'></i>
        </span>
      </div>
    </div>
    <!-- search end -->
  </nav>
</header>
