#sidebar.p-fixed.header-users.showChat
  .had-container
    .card.card_main.header-users-main
      .card-content.user-box
        .md-group-add-on.p-20
          %span.md-add-on
            %i.icofont.icofont-search-alt-2.chat-search
          .md-input-wrapper
            %input#search-friends.md-form-control{:name => "username", :type => "text"}/
            %label{:for => "username"} Search
        .media.friendlist-main
          %h6 Friend List
        .main-friend-list
          .media.friendlist-box{"data-id" => "1", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Josephin Doe", :title => "Josephin Doe"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-1.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Josephin Doe
              %span 20min ago
          .media.friendlist-box{"data-id" => "3", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Alice", :title => "Alice"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-2.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Alice
              %span 1 hour ago
          .media.friendlist-box{"data-id" => "7", "data-placement" => "left", "data-status" => "offline", "data-toggle" => "tooltip", "data-username" => "Michael Scofield", :title => "Michael Scofield"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-3.png"}/
              .live-status.bg-danger
            .media-body
              .friend-header Michael Scofield
              %span 3 hours ago
          .media.friendlist-box{"data-id" => "5", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Irina Shayk", :title => "Irina Shayk"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-4.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Irina Shayk
              %span 1 day ago
          .media.friendlist-box{"data-id" => "6", "data-placement" => "left", "data-status" => "offline", "data-toggle" => "tooltip", "data-username" => "Sara Tancredi", :title => "Sara Tancredi"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-5.png"}/
              .live-status.bg-danger
            .media-body
              .friend-header Sara Tancredi
              %span 2 days ago
          .media.friendlist-box{"data-id" => "1", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Josephin Doe", :title => "Josephin Doe"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-1.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Josephin Doe
              %span 20min ago
          .media.friendlist-box{"data-id" => "3", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Alice", :title => "Alice"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-2.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Alice
              %span 1 hour ago
          .media.friendlist-box{"data-id" => "1", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Josephin Doe", :title => "Josephin Doe"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-1.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Josephin Doe
              %span 20min ago
          .media.friendlist-box{"data-id" => "3", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Alice", :title => "Alice"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-2.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Alice
              %span 1 hour ago
          .media.friendlist-box{"data-id" => "1", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Josephin Doe", :title => "Josephin Doe"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-1.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Josephin Doe
              %span 20min ago
          .media.friendlist-box{"data-id" => "3", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Alice", :title => "Alice"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-2.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Alice
              %span 1 hour ago
          .media.friendlist-box{"data-id" => "1", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Josephin Doe", :title => "Josephin Doe"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-1.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Josephin Doe
              %span 20min ago
          .media.friendlist-box{"data-id" => "1", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Josephin Doe", :title => "Josephin Doe"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-1.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Josephin Doe
              %span 20min ago
          .media.friendlist-box{"data-id" => "1", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Josephin Doe", :title => "Josephin Doe"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-1.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Josephin Doe
              %span 20min ago
          .media.friendlist-box{"data-id" => "1", "data-placement" => "left", "data-status" => "online", "data-toggle" => "tooltip", "data-username" => "Josephin Doe", :title => "Josephin Doe"}
            %a.mr-3{:href => "javascript:void(0)"}
              %img.media-object.rounded-circle{:alt => "Generic placeholder image", :src => "/images/avatar-1.png"}/
              .live-status.bg-success
            .media-body
              .friend-header Josephin Doe
              %span 20min ago