
<aside class='main-sidebar hidden-print'>
  <section class='sidebar' id='sidebar-scroll'>
    <div class='user-panel'>
      <div class='f-left image'>
        <img alt='User Image' class='rounded-circle' src='/images/avatar-1.png'>
      </div>
      <div class='f-left info'>
          <p><%= current_user.full_name.to_s%></p>
          <p class='designation'>
            <i><%= current_user.email.to_s%></i>
            <i class='icofont icofont-caret-down m-l-5'></i>
          </p>
        <!-- sidebar profile Menu -->
      </div>
    </div>
    <ul class='nav sidebar-menu extra-profile-list'>
      <li>
        <a class='waves-effect waves-dark' href='profile.html'>
          <i class='icon-user'></i>
          <span class='menu-text'>View Profile</span>
          <span class='selected'></span>
        </a>
      </li>
      <li>
        <a class='waves-effect waves-dark' href='javascript:void(0)'>
          <i class='icon-settings'></i>
          <span class='menu-text'>Settings</span>
          <span class='selected'></span>
        </a>
      </li>
      <li>
        <!-- Sidebar Menu -->
      </li>
    </ul>
    <ul class='sidebar-menu'>
      <li class='nav-level'>Menu</li>
      <li>
        <a href='/room'>
          <i class='icon-home'></i>
          <span>Room</span>
        </a>
      </li>
      <li>
        <a href='/order_room/new'>
          <i class='icon-bell'></i>
          <span>Booking</span>
        </a>
      </li>
       <li>
        <a href='/order_room'>
          <i class='icon-docs'></i>
          <span>Orders</span>
        </a>
      </li>
      <li class='treeview'>
        <a class='waves-effect waves-dark' href='index.html'>
          <i class='icon-speedometer'></i>
          <span>Dashboard</span>
          <i class='icon-arrow-down'></i>
        </a>
        <ul class='treeview-menu'>
          <li>
            <a class='waves-effect waves-dark' href='index.html'>
              <i class='icon-arrow-right'></i>
              <span>Dashboard 1</span>
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='dashboard2.html'>
              <i class='icon-arrow-right'></i>
              <span>Dashboard 2</span>
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='dashboard3.html'>
              <i class='icon-arrow-right'></i>
              <span>Dashboard 3</span>
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='dashboard4.html'>
              <i class='icon-arrow-right'></i>
              <span>Dashboard 4</span>
            </a>
          </li>
        </ul>
      </li>
      <li class='treeview'>
        <a class='waves-effect waves-dark' href='javascript:void(0)'>
          <i class='icon-film'></i>
          <span>Page Layout</span>
          <i class='icon-arrow-down'></i>
        </a>
        <ul class='treeview-menu'>
          <li>
            <a class='waves-effect waves-dark' href='menu-static.html'>
              <i class='icon-arrow-right'></i>
              Static Layout
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='menu-fixed.html'>
              <i class='icon-arrow-right'></i>
              Header and Sidebar Fixed
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='menu-sidebar-sticky.html'>
              <i class='icon-arrow-right'></i>
              Sidebar Sticky
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='menu-header-fixed.html'>
              <i class='icon-arrow-right'></i>
              Header Fixed
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='menu-horizontal.html' target='_blank'>
              <i class='icon-arrow-right'></i>
              Menu Horizontal
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='menu-horizontal-icon.html' target='_blank'>
              <i class='icon-arrow-right'></i>
              Menu Horizontal Icon
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='menu-horizontal-fixed.html' target='_blank'>
              <i class='icon-arrow-right'></i>
              Header Horizontal Fixed
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='menu-horizontal-icon-fixed.html' target='_blank'>
              <i class='icon-arrow-right'></i>
              Header Horizontal Icon Fixed
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='menu-footer-fixed.html'>
              <i class='icon-arrow-right'></i>
              Footer Fixed
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='menu-bottom.html' target='_blank'>
              <i class='icon-arrow-right'></i>
              Bottom Menu Fixed
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='mega-menu.html' target='_blank'>
              <i class='icon-arrow-right'></i>
              Mega Menu
            </a>
          </li>
          <li>
            <a class='waves-effect waves-dark' href='box-layout.html'>
              <i class='icon-arrow-right'></i>
              Box-Layout
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
</aside>
