!!!
%html{:lang => "en"}
  %head
    %title Able Pro Responsive Bootstrap 4 Admin Template by Phoenixcoded
    / Meta
  %meta{:charset => "utf-8"}/
  %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "Phoenixcoded", :name => "description"}/
  -#%meta{:content => "no-preview", :name => "turbolinks-cache-control" }/
  %meta{:content => ", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app", :name => "keywords"}/
  %meta{:content => "Phoenixcoded", :name => "author"}/
  / Favicon icon
  -#%link{:href => "/images/favicon.png", :rel => "shortcut icon", :type => "image/x-icon"}/
  -#%link{:href => "/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
  / Google font
  %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet"}/
  = csrf_meta_tags
  = csp_meta_tag
  = stylesheet_link_tag 'application', media: 'all'
  -#= javascript_include_tag 'application'
 
  %body.sidebar-mini.fixed
    = render "layouts/lock_screen"
    #screen.wrapper
      .loader-bg
        .loader-bar
      / Navbar
      = render "layouts/nav_bar"
      / Side-Nav
      = render "layouts/side_bar"
      / Sidebar chat start
      = render "layouts/side_bar_chat"
      .showChat_inner
        .media.chat-inner-header
          %a.back_chatBox
            %i.icofont.icofont-rounded-left
            Josephin Doe
        .media.chat-messages
          %a.mr-3.photo-table{:href => "javascript:void(0)"}
            
            .live-status.bg-success
          .media-body.chat-menu-content
            %div
              %p.chat-cont I'm just looking around. Will you tell me something about yourself?
              %p.chat-time 8:20 a.m.
        .media.chat-messages
          .media-body.chat-menu-reply
            %div
              %p.chat-cont I'm just looking around. Will you tell me something about yourself?
              %p.chat-time 8:20 a.m.
          .media-right.photo-table
            %a{:href => "javascript:void(0)"}
              
              .live-status.bg-success
        .media.chat-reply-box
          .md-input-wrapper
            %input#inputEmail.md-form-control{:name => "inputEmail", :type => "text"}/
            %label Share your thoughts
            %span.highlight
            %span.bar
            %button.chat-send.waves-effect.waves-light{:type => "button"}
              %i.icofont.icofont-location-arrow.f-20
      / Sidebar chat end
      .content-wrapper
        / Container-fluid starts
        .container-fluid
          / Main content starts
          %div
            / Row Starts
            .row
            =yield         
          / Container-fluid ends
        / The modal
        #flipFlop.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modalLabel", :role => "dialog", :tabindex => "-1"}
          .modal-dialog{:role => "document"}
            .modal-content
              .modal-header
                %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                  %span{"aria-hidden" => "true"} ×
                %h4#modalLabel.modal-title Add new todo
              .modal-body
                / <input class="form-control save_task_todo" placeholder="Add todo">
                .md-group-add-on
                  %span.md-add-on
                    %i.icofont.icofont-file-alt
                  .md-input-wrapper
                    %input.md-form-control.save_task_todo{:type => "text"}/
                    %label Add todo
              .modal-footer
                %button.save_btn.btn.btn-primary{:type => "button"} Save
                %button.btn.btn-default.close_btn{"data-dismiss" => "modal", :type => "button"} Close
        / Container-fluid ends
    / Required Jqurey

= javascript_include_tag 'application'