!!!
%html{:lang => "en"}
  %head
    %title Able Pro Responsive Bootstrap 4 Admin Template by Phoenixcoded
    / HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    / Meta
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "Phoenixcoded", :name => "description"}/
    %meta{:content => "no-preview", :name => "turbolinks-cache-control" }/
    %meta{:content => ", Responsive, Landing, Bootstrap, App, Template, Mobile, iOS, Android, apple, creative app", :name => "keywords"}/
    %meta{:content => "Phoenixcoded", :name => "author"}/
    / Favicon icon
    %link{:href => "assets/images/favicon.png", :rel => "shortcut icon", :type => "image/x-icon"}/
    %link{:href => "assets/images/favicon.ico", :rel => "icon", :type => "image/x-icon"}/
    / Google font
    %link{:href => "https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800", :rel => "stylesheet"}/
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
  %body
    %section.login.p-fixed.d-flex.text-center.bg-primary.common-img-bg
      .container-fluid
        .row
          .col-sm-12
            .login-card.card-block
              = yield
